body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Josefin Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.hline-top-bottom {
    padding-top: 0px;
    border-top: 1px solid #000000;
    padding-bottom: 0px;
    border-bottom: 1px solid #000000;
    /*width: 200px; height: 1px; background: #000*/
}

.dl-horizontal dt {
    float: left;
    text-align: left;
    width: 100px;
    
  }
  .dl-horizontal dd {
    margin-left: 0px;
  }

.spell-title {
    /*font-family: 'Segoe Script', Arial, sans-serif;*/
    font-style: italic;
}

/*--  NAVBAR --*/
.navbar-inverse {
    background-color: lightblue;
    border-color: grey;
}

/* Hamburger */
.navbar-toggle {
    border-color: grey;
}

/* Navbar Text */
.navbar-inverse .navbar-brand {
    color: white;
}

.navbar-inverse .navbar-nav > li > a {
     color: white;
}

.navbar-toggle:focus {
    background-color: grey;
}

/*-- PAGINATION BAR --*/

/* Active Page Marker */
.pagination > .active > span {
    background-color: grey;
    border-color: grey;
}

/* Page Markers */
.pagination > .pagination-list-element > a {
    background-color: lightblue;
    color: white;
}

/* Ellipses Marker */
/*.spell-pagination > .pagination > .disabled > a {
        color: white;
        background-color:lightblue;
}*/

/*-- DAILYS VIEW --*/
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}

.strikethrough:checked + label{
	text-decoration: line-through;
}

.spell-list-wrapper{
	display: grid;	
	grid-template-columns: repeat(3, 1fr); 
	grid-gap: 1em;
	grid-auto-rows: minmax(100px, auto);    
}

.spell-list{
	background: #fff;
	color: #555;
	list-style-type: none;
	border: 1px solid #555;
	/*border-radius: 10px;*/
	margin: 0;
	padding: 0;
	transition: 0.3s;    
}

.spell-list li{
	padding: 10px;
	border-bottom: 1px solid #eee;
	text-align: left;
	font-style: italic;    
}

.spell-list li label{
	font-weight: normal;
}

.spell-list li.spell-list-header{
	text-align: center;
	font-style: normal;
	background-color: lightblue;
	color: white;
	font-size: 20px;
	border-bottom: 1px solid #555;
}

li.edit-spell-list{	
	font-style: normal;
	text-align: center;
	padding: 10px;
}

.spell-list .button{
	color: white;
	background-color: lightblue;
	border: none;
	padding: 5px 5px;
	text-decoration: none;
	/*font-size: 18px;*/
	border: gray 1px solid;
	border-radius: 10px;
}

.spell-list:hover{
	box-shadow: 0 10px 15px 0 #555;
}

.spell-list .button:hover{
	background:grey;
	color:white;
}




