body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Josefin Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.hline-top-bottom {
    padding-top: 0px;
    border-top: 1px solid #000000;
    padding-bottom: 0px;
    border-bottom: 1px solid #000000;
    /*width: 200px; height: 1px; background: #000*/
}

.dl-horizontal dt {
    float: left;
    text-align: left;
    width: 100px;
    
  }
  .dl-horizontal dd {
    margin-left: 0px;
  }

.spell-title {
    /*font-family: 'Segoe Script', Arial, sans-serif;*/
    font-style: italic;
}

/*--  NAVBAR --*/
.navbar-inverse {
    background-color: lightblue;
    border-color: grey;
}

/* Hamburger */
.navbar-toggle {
    border-color: grey;
}

/* Navbar Text */
.navbar-inverse .navbar-brand {
    color: white;
}

.navbar-inverse .navbar-nav > li > a {
     color: white;
}

.navbar-toggle:focus {
    background-color: grey;
}

/*-- PAGINATION BAR --*/

/* Active Page Marker */
.pagination > .active > span {
    background-color: grey;
    border-color: grey;
}

/* Page Markers */
.pagination > .pagination-list-element > a {
    background-color: lightblue;
    color: white;
}

/* Ellipses Marker */
/*.spell-pagination > .pagination > .disabled > a {
        color: white;
        background-color:lightblue;
}*/




