<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PFAssistant.MongoContext.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="PFAssistant.Data.Properties.Settings.PFAssistantConnectionString"
            connectionString="mongodb://localhost" />
        <add name="PFAssistant.MongoContext.Properties.Settings.PFAssistantConnectionString"
            connectionString="mongodb://localhost" />
    </connectionStrings>
    <applicationSettings>
        <PFAssistant.MongoContext.Properties.Settings>
            <setting name="PFAssistantDatabase" serializeAs="String">
                <value>pfassistant</value>
            </setting>
        </PFAssistant.MongoContext.Properties.Settings>
    </applicationSettings>
</configuration>